.menu {
  background-color: #202020;
  height: 40px;
  display: none;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    a {
      display: flex;
      height: 40px;
      align-items: center;
      padding: 0px 18px;

      font: 600 12px Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      border-bottom: 2px solid #202020;
    }

    a:hover {
      height: 39px;
      overflow: hidden;
      border-bottom: 2px solid red;
    }

    & .active {
      color: red;
    }
  }
}

@media (min-width: 839px) {
  .menu {
    display: block;
  }
}
