.mobile-nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 80;
  height: 100vh;
  width: 350px;
  display: none;
  background-color: #151515;
}

.nav-close {
  width: 80px;
  height: 56px;
  padding: 20px 30px;
}

.nav__items {
  padding-top: 35px;
}

.nav__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__items a {
  color: white;
  font: 500 18px Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  text-decoration: none;
  background-color: #151515;
  transition: 0.3s;
  height: 100%;
  padding: 15px 0;
}

.nav__items .active{
  color: red;
}
.nav__item_name {
  margin-left: 10px;
}

.nav__item_icon {
  margin-right: 15px;
}

.nav__items a:hover {
  background-color: black;
}

.opening {
  display: block;
  animation-name: slide-in;
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes slide-in {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 350px;
    opacity: 1;
  }
}

.closeing {
  display: block;
  animation-name: slide-out;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes slide-out {
  from {
    width: 350px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}


@media (min-width: 839px){
  .mobile-nav {
    display: none;
}
}
