<div>
  <nav class="mobile-nav" [ngClass]="{ opening: open, closeing:close }">
    <div class="nav-close">
      <a href="javascript: void(0);" class="nav-close__link" (click)="closeMenu()">
        <img class="nav-close__image" src="assets/svg/close-nave.svg" />
      </a>
    </div>
  <ul class="nav__items">
    <li *ngFor="let item of menuItem"><a class="nav__item-link" routerLinkActive="active" [routerLink]="[item.route]" (click)="closeMenu()"><samp class="nav__item_name">{{item.name}}</samp> <span class="nav__item_icon"><img src="/assets/svg/menu-arrow.svg"/></span> </a>  </li>
  </ul>
  </nav>
</div>
