.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card {
  display: grid;
  justify-content: center;
  grid-template-rows: 35px 3fr 51px;
  grid-template-columns: 1fr;
  width: 85%;
  border-radius: 9px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 3px 3px 21px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  padding: 15px;
}

.card__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.form-container {
  margin-top: 2.7rem;
  width: 100%;
}

.form-control {
  margin: 11px;
}
.form-control label {
  display: block;
  text-align: left;
  margin-bottom: 1px;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.712);
  text-transform: uppercase;
  font-weight: 600;
}

.form-control input {
  height: 3.3rem;
  width: 100%;
  padding-left: 5px;
}

.form-control .btn {
  height: 3.7rem;

  width: 35%;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 0px;
  margin: 0px;
}

.card__footer {
  display: block;
}

@media (min-width: 600px) {
  .card {
    grid-template-rows: 30px 3fr 51px;
  }

  .card__header {
    font-size: 2.8rem;
  }
}

@media (min-width: 900px) {
  .card {
    grid-template-rows: 1fr 3fr 1fr;
  }
  .card__footer {
    display: block;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
