.container{
    margin: 10px 27px 27px ;
    padding: 10px 20px 0px;
}


.search-result {
    display: flex;
   
    height: auto;
    width: 100%;
    margin-top: 15px;

  }

.cards-content {
  display: grid;
  overflow: hidden;
  align-items: center;
  justify-content: center;
 
  place-items: center;
  height: auto;
  width: 100%;

}


@media (min-width:600px) {
  .cards-content {
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
  }
}

@media (max-width: 600px) {
  .cards-content__mobile {
    
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 17px solid;
  margin-bottom: 10px;
  }
}


.fetching{
  color: rgb(46, 122, 63);
  font-weight: 500;
}
.warning{
  color: rgb(229 159 2);
  font-weight: 500;
}

.error{
  color: red;
  font-weight: 500;
}