<header class="header">
  <div class="header__container header__container_theme">
    <div class="header__mobile_btn">
      <div class="header__mobile_btn_container">
        <a href="javascript: void(0);" (click)="openNav()">
          <img src="assets/svg/mobile-nav.svg" />
        </a>
      </div>
    </div>

    <div class="header__title">
      <div>
        <a href="#">
          <img src="assets/svg/marvel-logo.svg" />
        </a>
      </div>
    </div>

    <div class="header__nav">
      <div class="header__nav_container">
        <a class="header__nav_item header__nav_item--search" [routerLink]="['/']">
          <img src="assets/svg/search-white.svg" />
        </a>
        <a class="header__nav_item header__nav_item--login" routerLinkActive="active"  [routerLink]="['/login']">
          Login
        </a>
      </div>
    </div>
  </div>
  <app-desktop-menu></app-desktop-menu>
  <app-mobile-menu
    [open]="navState"
    (close)="closeNav($event)"
  ></app-mobile-menu>
</header>
