.header {
  margin: 0;
  padding: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container_theme {
  height: 50px;
  background-color: #202020;
  color: aliceblue;
  border-bottom: solid 1px #ffffff;
  border-color: #393939;
}

.header__mobile_btn {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 1;

  align-items: center;
  padding-left: 30px;
  padding-right: 15px;
}

.header__nav_container {
  padding: 0 30px;
}

@media (min-width: 839px) {
  .header__mobile_btn_container {
    display: none;
  }
}
