<header class="header">
  <div class="header__container header__container_theme">
    <div class="mobile_nav__open">
      <div>
        <a href="javascript: void(0);" (click)="openNav()">
          <img src="assets/svg/mobile-nav.svg" />
        </a>
      </div>
    </div>

    <div class="header__title">
      <div >
        <a href="#" >
          <img  src="assets/svg/marvel-logo.svg" />
        </a>
      </div>
    </div>

    <div class="header__search">
      <div  class="header__search_content">
        <a [routerLink]="['/']" >
          <img  src="assets/svg/search-white.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="menu" >
    <div>
      <ul  class="menu__items" >
        <li><a [routerLink]="['/']" class="desktopNav__link" href="#">Home</a></li>
        <li><a [routerLink]="['/']" class="desktopNav__link" href="#">Search</a></li>
        <li><a [routerLink]="['/']" class="desktopNav__link" href="#">Comics</a></li>
        <li><a [routerLink]="['/']" class="desktopNav__link" href="#">Movies</a></li>
      </ul>
    </div>
  </div>
  <app-mobile-menu [open]="navState" (close)="closeNav($event)"></app-mobile-menu>
</header>
